

.box{
    display: flex;
    flex-direction: center;
    width: 100%;
    align-content: center;
    justify-content: space-around;

}

.jumbotron {
    background-image:  url(./assets/images/yellow.jpg);
}